@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1b1b1b; /* Update with hexadecimal value */
    --foreground: #e1e1e1; /* Update with hexadecimal value */
    --muted: #737373; /* Update with hexadecimal value */
    --accent: #fefc5b; /* Update with hexadecimal value */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    background-color: rgba(27, 27, 27, 0.5); /* Adjust the opacity value as needed */
    backdrop-filter: blur(10px);
    @apply shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
